@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "./partials/variables";
@import "./partials/funciones";
@import "./partials/operadores";

@import "./partials/animaciones";

$color_fondo_1: rgba(128, 128, 128, 0.397);
/* 
---------------------------
GENERALES
---------------------------
*/

* {

  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  //font-family: 'Roboto', sans-serif;

  width: 100vw;
  height: 100vh;

  .bold {
    h1,
    h2,
    h3 {
      //font-weight: bold !important;
      font-weight: 1200;
    }
  }
}

.spaceTitle {
  letter-spacing: 10px;
  @media (max-width: 950px) {
    letter-spacing: 2px;
    
  }
  
}

#whatsapp {
  width: 30px;
  height: 30px;
  position: fixed !important;
  bottom: 50px !important;
  right: 10px !important;
  z-index: 1000;
  text-decoration: none;
  font-style: none;
  color: black;
  &:hover {
    color: $color_marca_1;
  }
}

header {
  div.logo {
    width: 200px;
    height: 50px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
/*---------------------------
PRINCIPAL + CARROUSEL
---------------------------*/

$carousel-control-color: white;
$carousel-control-width: 15%;
$carousel-control-opacity: 0.5;
$carousel-control-hover-opacity: 0.9;

#nosotros {
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: 10px 100px;
    text-align: justify;
    @media (max-width: 950px) {
      width: 100%;
      padding: 10px;
    }
  }



}

#main {
  height: 500px;
  width: 100%;
  background-image: url("/img/banner_OBOX.png");;
  background-repeat: no-repeat;
 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  div {
    display: flex;
    justify-content:center;

  }
  div.text2 {
 

  }
  a {
    text-decoration: none;

    div.link-portfolio {
      display: none;
background-color: white;
    }
  }
  div.imagen {
    position: absolute;
    right: 10%;
    top: 20%;
    width: 300px;
    height: 300px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

#carousel {
  div {
    width: 100%;
    height: 600px;
  }
}

#servicios {
  h5{
    padding: 0px 10%;
        @media (max-width: 950px) {
      width: 100%;
      padding: 10px;
    }
  }

  .servicios-title {
    margin-bottom: 50px;
    text-align: center;
    justify-items: center;
    justify-items: center;
    font-weight: 900;
  }
  div.servicios-container {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .light2 {
      background-color: white !important;
    }
    > div {
      background-color: $color_fondo_1;
      height: auto;
      width: 33%;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;

      div.servicios-img{
        width: 100px;
        height: 100px;

        >img{
          height: 100%;
          width: 100%;
        }
      }

      @media (max-width: 950px) {
        width: 100%;
        padding: 0 10%;
      }
      > div {
      }
    }
  }
}

#comoTrabajamos {
  .comoTrabajamos-title {
    width: 100%;
    text-align: center;
    justify-items: center;
    justify-items: center;
    font-weight: 900;
    color: white;
    background-color: black;
    padding: 50px 0px;
  }

  .comoTrabajamos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
    > div.item {
      
      width: 100%;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      align-content: center;
      height: 100px;

      >div.PDT-img{
        padding: 20px;
        background-color: gray;
        border-radius: 50%;
        width: 100px;
        height:100px ;
        
        img{
          width: 100%;
          height: 100%;
        }

        &.fondo-celeste {
          background-color: $color_marca_2 !important;
        }

      }

      > div.text-abs-left {
        text-align: right;
        position:absolute;
        right: 60%;
        @media (max-width: 950px) {
          
          right: 70%;
        }
      }

      > div.text-abs-right {
        text-align: left;
        position:absolute;
        left:60%;
        @media (max-width: 950px) {
          
          left: 70%;
        }
        &.celeste{
          font-weight: bold;
          color: $color_marca_2;
        }
      }
    }
  }
}

#proyectos {
  
  display: none;
  
  text-align: center;
  > div.proyectos-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    > div {
      height: auto;
      width: auto;
      min-width: 200px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;

      > div.image {
        width: 100px;
        height: 100px;

        background-image: url("../img/proyecto1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
      }
      > div.title {
      }

      > a {
        text-decoration: none;
        div.buttom {
          color: white;
          text-align: center;
          background-color: green;
          width: 100px;
          border-radius: 12px;
          &:hover {
            color: black;
            background-color: white;
            border: solid black;
          }
        }
      }
    }
  }
}

#contacto {
  > div.contacto-container {
    margin-top: 50px;
    width: 100%;
    height: width;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > div {
      width: 33.33%;
      background-color: $color_fondo_1;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

/*--------------------------
FOOTER
---------------------------*/
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  justify-items: center;
  flex-direction: row;
  background-color: black;
  overflow: hidden;
  height: 50px;
  width: 100%;
  padding: 50px;


  div.footer-item{
   
    
    height: 100px;
    width: 100px;

    background-color: rgb(20, 165, 41);
  }
}


