@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$responsive_condition : "max-width: 670px";
/* 
---------------------------
GENERALES
---------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
}

img {
    max-width: 100%;
    max-height: 100%;
    
}
 

iframe{
    filter: grayscale(100%);

}
/*---------------------------
HEADER+ NAVBAR 
---------------------------*/


header {
    background:linear-gradient(90deg, rgba(18,154,50,1) 3%, rgb(94, 172, 42) 60%, rgb(60, 216, 13) 100%);
    align-items: baseline;
    width: 100%;
    z-index: 10;
    position: sticky;
    top:0px;


}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row !important;
    align-items: flex-end !important;
    flex-wrap: nowrap !important;
   

}

#logo {

    width: 70px;
    height: 70px;

}


ul {
    margin-left: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items:flex-end;
    align-content:flex-end;
    margin-bottom: 0;

    >li {
        position: relative;
        list-style: none;
        padding: 10px;
        font-size: 14px;
        
        div {
            position: relative;
            padding: 3px;
        
            * {
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: large;
                text-transform: uppercase;
            }

            &:hover {
                *{
                color: rgb(253, 201, 28);           
                transition: all 0.3s;
                }

                &:before {
                    width:100%;
                }

                &:after {
                    width:100%;
                }
            }
         

            &:before {
                content:"";
                position:absolute;
                bottom:0px;
                width:0%;
                height: 1px;
                background-color: rgb(253, 201, 28);
                transition:all 0.5s;
             
            }

            &:after {
                content:"";
                position:absolute;
                top:0px;
                right: 0px;
                width:0%;
                height: 1px;
                background-color: rgb(253, 201, 28);
                transition:all 0.5s;
             
            }
        }
    }


}


/*---------------------------
PRINCIPAL + CARROUSEL
---------------------------*/

$carousel-control-color:             white;
$carousel-control-width:             15%;
$carousel-control-opacity:           0.5;
$carousel-control-hover-opacity:     0.9;


#index{
    .container__carousel{
        display: flex;
        justify-content: center;
      
        width: 100%;
        height: 400px;
        
        #carouselExample{
            width: 90%;
            .carousel-inner>.carousel-item>img, .carousel-inner>.carousel-item>a>img {
                height: 65vh;
                min-height: 400px;
                width: 100%;
                margin: 0 auto;
                background: no-repeat center center scroll;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                }
        
        }
    
    }
}


    


#nosotros
    {
    background-color: rgba(19, 133, 15, 0.473);
        .nosotros{
        &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 100px;
        justify-content: center;
        text-align: center;
        align-items: center;
        

            >div:nth-of-type(odd) * {
            flex-direction: row-reverse;
            justify-content: right;
            align-items: center;
            }

                &__text {
                width: 70%;
                padding: 0px 100px;
                }
                
                &__img {
                    width: 200px;
                    height: 200px;
                    overflow: hidden;
                }
            }
        }
    }

    #servicios
    {
    background-color: rgb(255, 255, 255);
        .servicios{
        &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 100px;
        justify-content: center;
        text-align: center;
        align-items: center;
        

            >div:nth-of-type(odd) * {
            flex-direction: row-reverse;
            justify-content: right;
            align-items: center;
            }

                &__text {
                width: 70%;
                padding: 0px 100px;
                }
                
                &__img {
                    width: 200px;
                    height: 200px;
                    overflow: hidden;
                }
            }
        }
    }

.contacto{
    &__container {
    width: 100%;
    height: 500px;
    display: flex;
    margin: 20px 0px;
    
        &__carrousel{
            width: 50%;
            height: 100%;
            background-image: url("nosotros1.png");
            background-size: cover;
            background-repeat: no-repeat;

            @media ($responsive_condition){
                width: 0%;
            }
        }

        &__form{
            width: 50%;
            height: 100%;
            border: solid black;
            background-color: rgba(18,154,50,0.1);
            padding: 30px;
            display: block;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow: auto;
            @media ($responsive_condition){
                width: 100%;
            }
        }
    }
}


input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    &[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #45a049;
        }
    }
}


/* ---------------------------
PROYECTOS
---------------------------*/

#proyectos {
    padding: 50px;
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "A A C"
        "B D C"
        "B E E";
    gap: 10px;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;

    @media($responsive_condition) {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "A A A"
            "B B B"
            "C C C"
            "D D D"
            "E E E"
        ;
    }


    &>div{
        position: relative;
        background-size: cover;
        display: flex;
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        
        * {
            visibility: hidden;
            z-index: 2;
        }

        &:hover{

            box-shadow: 1px 1px 3px 2px gray;
            transition: all 0.1s linear;

            * {
                visibility: visible;
                
            }


            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 1;
            }
        }


}
}


.proyectos{
    &__grid-a {
    grid-area: A;
    background-image: url(nosotros1.png);
    }

    &__grid-b {
        grid-area: B;
        background-image: url(nosotros2.png);
    }

    &__grid-c {
        grid-area: C;
        background-image: url(nosotros3.png);
    }

    &__grid-d {
        grid-area: D;
        background-image: url(nosotros4.png);
    }

    &__grid-e {
        grid-area: E;
        background-image: url(nosotros1.png);
    }
}


/*--------------------------
FOOTER
---------------------------*/


footer {
    background-color: black;
    overflow: hidden;
}

footer p {
    color: beige;
}






/* ---------------------------
MEDIA + TRANSITIONS
---------------------------*/

@media ($responsive_condition) {
    .nav ul {
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .hamburguer {
        visibility: hidden;
    }

    .nosotros__container{
        width: 100%;
        justify-items: center;
        justify-content: center;
    }
    .nosotros__container__img, .nosotros__container__text {
        width: 100%;
        padding: 30 px;
    }

    
}


#prueba{
    width: 60px;
    height: 60px;
    
    &:hover{  
        transform: scale(1,2);
        transform: rotate(30deg) scale(2) translate(30px,-200px) ;
        transition: all 1s linear;
        animation-delay: 0.5s;
    }

    &:not(:hover){
  
        transition: all 0.5s linear;
        animation-name: movimiento;
        animation-duration: 10s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-delay: 0.5s;
    }
}



@keyframes movimiento{
    0%{
        background-color: red;
    }

    50%{
        background-color: #45a049;
    }
    100%{
        background-color: aqua;
    }
}


@keyframes logo-late{

    0%{
        width: 60px;
        height: 60px;
    }

    50%{
        width: 80px;
        height: 80px;
    }
    100%{
        width: 60px;
        height: 60px;
    }
}